body{
    text-align: center;
    background-color: dodgerblue;
    color: black
}

h1{
    color: aliceblue;
}

div#res{
    margin-top: 20px;
}

input{
    width: 50px;
}
input#enviar{
    margin-left: 20px;
}